@import url('../fonts/Caros/style.css');
@import url('../fonts/Lato/style.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Dela Gothic';
    src: url('/fonts/Dela_Gothic/DelaGothicOne-Regular.ttf') format('truetype');
}

:root {
    --text: #030202;
    --background: #ffffff;
    --primary: #55afaf;
    --secondary: #dce6ef;
    --accent: #52ad80;
    --text-light: #4d4d4d;

}

#app{
    top: 0;
    height: 100%;
}

html{
    height: 100%;
    padding: 0;
    margin: 0;
}

.text {
    color: var(--text);
    background-color: var(--background);
}

.gradient-text {
    background: linear-gradient(to right, var(--primary), var(--accent));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

h1 {
    font-family: 'Poppins', sans-serif!important;
    font-size: 35px;
    margin: 0;
    font-weight: 900;
}

h2 {
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif!important;
    font-size: 30px;
    font-weight: 800;
}

h4{
    text-align: left;
    color: var(--text-light);
    font-weight: 400;
}

h3{
    color: white;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--text);
    height: 100%;
    background-color: var(--background-color);
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchField {
    display: flex;
    gap: 0;
    border-radius: 5px;
    overflow: clip;
    height: 50px;
    max-width: fit-content;
    box-sizing: border-box;
}

.searchField input {
    margin: 0;
    height: 100%;
    padding: 0px 10px;
    border-radius: 20px;
    font-size: medium;
    box-sizing: border-box;
    border-style: solid;
    border-width: 2px;
    border-color: var(--secondary);
}

.searchField input:active {
    margin: 0;
    background-color: var(--background-color);
    outline: none;
}

.searchField input:focus {
    margin: 0;
    background-color: white;
    outline: none;
    border-color: var(--primary);
}

label {
    text-align: start;
    max-width: min-content;
    color: var(--primary);

}

#searchAndPredictions {
    position: relative;
    max-width: min-content;
}

.predictions {
    margin: 0;
    background-color: white;
    border: 1px solid var(--primary);
    list-style-type: none;
    padding-left: 0px;
    border-radius: 15px;
    color: var(--text-color);
    position: absolute;
    z-index: 1;
    box-shadow: #f5f5f5;
    width: 100%;
    overflow: clip;
}

.predictions li {
    padding: 15px;
}

.predictions li:hover {
    background-color: #f5f5f5;
}


.horizontal-table {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.horizontal-table li {
    margin: 5px;
    border: 3px solid var(--secondary);
    padding: 10px;
    max-width: 100%;
    border-radius: 15px;
}

.searchContainer {
    display: flex;
    padding: 5px;
    align-items: start;
}

.toggle {
    display: flex;
    align-items: center;
    align-self: flex-end;
    margin: 15px 20px;
    flex-direction: row;
}

.toggle input[type="checkbox"] {
    display: none;
}

.slider {
    width: 40px;
    height: 20px;
    background-color: var(--secondary);
    border-radius: 20px;
    border: 1px solid var(--secondary);
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

.slider::before {
    content: "";
    width: 16px;
    height: 16px;
    background-color: var(--accent);
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 2px;
    transition: transform 0.3s, background-color 0.3s;
}

.toggle input[type="checkbox"]:checked+.slider::before {
    transform: translateX(20px);
}

.label-text {
    margin: 2px 5px;
    padding: 0px;
    color: var(--text);
    font-weight: 500;
}

#map {
    height: 350px;
    width: 100%;
    display: none;
    border-radius: 15px;
}

.searchNav {
    display: flex;
    flex-direction: row;
    margin: 30px;
}

#topBar {
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 60px;
    box-sizing: border-box;
    position: fixed;
}

#leftBox {
    width: 40%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid var(--secondary);
    height: 100%;
    box-sizing: border-box;
    padding: 4% 4%;
    
}

#rightBox {
    width: 60%;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
}

#bottomBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-top: 1px solid var(--secondary);
    height: 100%;
    position: fixed;
    top: 70px;
}

.weather-display h2{
    color: var(--primary)
}

#horizontal-line{
    width: 70%;
    height: 1px;
    justify-self: center;
    margin: auto;
    border-bottom: 1px solid var(--secondary);
}

.packing-summary{
    background-color: var(--accent);
    width: fit-content;
    padding: 10px 60px;
    border-radius: 15px;
    margin: 20px auto;
    box-sizing: border-box;
    color: white;
}